<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Provide All Details</title>
  </head>
  <body class="container">
  {% extends "html/header.html" %} {% block body_block %}
    <h1>Your History is here</h1>
<!--     tihs form is available at https://getbootstrap.com/docs/4.6/components/forms/ -->
	<form class="needs-validation" novalidate METHOD="POST" >
	{% csrf_token %}
  <!-- <p>for now there is no history found</p> -->
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Married</th>
      <th scope="col">Dependents</th>
      <th scope="col">Education</th>
      <th scope="col">Self_Employed</th>
      <th scope="col">ApplicantIncome</th>
      <th scope="col">CoapplicantIncome</th>
      <th scope="col">LoanAmount</th>
      <th scope="col">Loan_Amount_Term</th>
      <th scope="col">Credit_History</th>
      <th scope="col">Property_Area</th>
      <th scope="col">Result</th>
      
    </tr>
  </thead>
  <tbody>
  
  {% for onesetdetails in loanCheckeddetailsList %}
    <tr class="table-info">
      <th scope="row"></th>
      <td>{{onesetdetails.Married}}</td>
      <td>{{onesetdetails.Dependents}}</td>
      <td>{{onesetdetails.Education}}</td>
      <td>{{onesetdetails.Self_Employed}}</td>
      <td>{{onesetdetails.ApplicantIncome}}</td>
      <td>{{onesetdetails.CoapplicantIncome}}</td>
      <td>{{onesetdetails.LoanAmount}}</td>
      <td>{{onesetdetails.Loan_Amount_Term_In_Months}}</td>
      <td>{{onesetdetails.Credit_History}}</td>
      <td>{{onesetdetails.Property_Area}}</td>
      <td>{{onesetdetails.Result}}</td>
    </tr>
    {% endfor %}
     </tbody>
</table>
  </form>
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
    {% endblock %}
  </body>
</html>